.leaflet-labels {
  background-color: hsla(0, 0%, 100%, 0.8);
  border: none;
  border-radius: 200px;
  padding: 2px 8px;
  box-shadow: none;
  font-weight: 700;
  /* opacity: 0.8 !important; */
  backdrop-filter: blur(2px);
  /* font-size: 16px; */
  /* -webkit-text-stroke: 1px rgb(50, 50, 50); */
  /* -webkit-text-fill-color: white; */
  font-family: var(--font-inter);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  color: black;
}
.leaflet-container {
  min-height: 100px;
  height: 100%;
  z-index: 0;
}

@keyframes pulse-outline {
  0% {
    outline-style: solid;
    outline-color: white;
    outline-width: 3px;
  }
  50% {
    outline-style: solid;
    outline-color: white;
    outline-width: 7px;
  }
  100% {
    outline-style: solid;
    outline-color: white;
    outline-width: 3px;
  }
}

.pulse-dot:hover {
  animation: pulse-outline 1s infinite;
}

.hover-trigger::after {
  content: 'This is a pop-up!';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -69px;
  padding: 8px 12px;
  font-size: 12px;
  background-color: rgba(6, 72, 185, 0.9);
  color: white;
  white-space: nowrap;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 10;
}

.hover-trigger::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -9px;
  border-width: 8px;
  border-style: solid;
  border-color: rgb(212, 11, 11) transparent transparent transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 10;
}

.hover-trigger:hover::after,
.hover-trigger:hover::before {
  opacity: 1;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
