@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
  cursor: pointer;
  /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, var(--bg-opacity));
  cursor: pointer;
  /*background: red;*/
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: rgb(196, 37, 71);
  border-radius: 10px;
  /*outline: 1px solid slategrey;*/
}

table > thead {
  background-color: #f9fafb;
}

/* remove arrows from input number */
/* chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.szh-menu__item--hover,
.szh-menu__item:hover {
  background: none;
}
.szh-menu__item {
  padding: 0 !important;
}

.moveTransition {
  animation: fade 1s ease forwards;
  /* animation: fadein 2s; */
}

@keyframes fade {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.btn {
  @apply min-h-[36px];
}

.input {
  @apply border-[2px] focus:border-sky-600 focus:shadow focus:outline-none;
}

.btn-info {
  @apply text-white;
}
.btn-rezy {
  @apply btn min-h-0 border-none bg-rose-500 text-white hover:bg-rose-600;
}

.btn-rezy-sm {
  @apply btn btn-sm border-none bg-rose-500 text-white hover:bg-rose-600;
}

.rc-select {
  width: 100% !important;
  font-size: 18px !important;
}

.rc-select-selection-search input {
  background: none !important;
  font-size: 18px;
}

.rmsc .dropdown-heading {
  height: auto !important;
  min-height: 38px !important;
}

.rmsc .dropdown-heading .dropdown-heading-value {
  white-space: unset !important;
}
