@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
  cursor: pointer;
  /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, var(--bg-opacity));
  cursor: pointer;
  /*background: red;*/
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: rgb(196, 37, 71);
  border-radius: 10px;
  /*outline: 1px solid slategrey;*/
}

table > thead {
  background-color: #f9fafb;
}

/* remove arrows from input number */
/* chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.szh-menu__item--hover,
.szh-menu__item:hover {
  background: none;
}
.szh-menu__item {
  padding: 0 !important;
}

.moveTransition {
  animation: fade 1s ease forwards;
  /* animation: fadein 2s; */
}

@keyframes fade {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
